<section>

  <h1>About Us...</h1>

</section>
<section>
  <article>
    <h3>Humble Beginnings</h3>
    <p>
      With a strong commitment to customer service,
      superior product quality, and expert installation,
      we are proud to have helped more than 15,000
      customers in the greater Alubquerque area over
      the last 25 years. We stand behind our products
      and installation with one of the strongest
      warranties in the home remodling industry.
      With easy options for financing, we can make your
      home remodeling dreams a quick reality.
    </p>
  </article>
</section>
