<section>

  <h1>Contact us</h1>

</section>
<section>
  <article>
    <p>Calico Construction Company</p>
    <p>1212 West Dundee Ave</p>
    <p>Albuquerque, New Mexico 87107</p>
    <p>Phone: (505) 555-1212</p>
    <p>Email: construction@davidhayes.us</p>

  </article>
</section>
