<section>

  <h1>Welcome to progress!</h1>


</section>
<section>
  <article>
    <h3>Roofing</h3>
    <img src="/images/Roof-Tile-3149.jpg" width="200">
    <p>
      Terra cotta roofs are our specialty. Sure, a cedar
      roof might look like the bomb, but you do NOT want
      the maintenance that goes with it. Would you
      rather spend money maintaining your home, or
      making all those upgrades you've been dreaming of?
    </p>
  </article>
  <h3>Siding</h3>
  <img src="/images/10x12_Vinyl_Manor.jpg" width="200">
  <p>
    There are so many choices when it comes to siding these
    days. Of course, we offer them all. Vinyl is the most
    popular. A thickness of at least .040 inches will ensure
    that your home will not be damaged in a storm.
  </p>
  <article >
    <h3>Screen Porches</h3>
    <img src="/images/porch.jpg" width="200px">
    <p>
      We are your one-stop shop for porches of the highest
      quality. Make the neighbors jealous! We can build your
      model digitally and with a 3-D picture from the very start,
      you will have complete confidence before we begin!
    </p>
  </article>
  <article>

  </article>
</section>
