<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css" >
    <title>Calico Construction</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <h1>Calico Construction Company</h1>
      </header>

      <%= yield %>  <!-- insert routes here -->

      <footer>
        <h2>&Copy 2015 - Calico Construction Company</h2>
      </footer>
    </div>
  </body>
</html>
